Repository FerhiSeif/valwin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,css,json,md}": ["prettier --write", "git add"],
  "*.js": ["eslint --fix", "git add"],
  "src/**/*.css": ["stylelint --fix", "git add"]
}

chore: update readme file
  README.md
Due: prettier --write

Header , Footer responsive ArticleCard component
  package-lock.json
  package.json
  src/components/ArticleList.css
  src/components/ArticleList.js
  src/components/DropdownMenue.js
  src/components/Footer.css
  src/components/Footer.js
  src/components/Header.css
  src/components/Header.js
  src/fonts/gothamroundedlight_21020.ttf
  src/icons/accessibility.png
  src/images/closeNav.png
  src/images/imageArticle.png
  src/images/openNav.png
  src/pages/Home.js
  stories/2-0-Header.stories.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

fix: fix build
  package-lock.json
  src/App.js
  src/components/Header.js
  stories/6-Header.stories.js
Due: prettier --write, eslint --fix

correction des retours et finalisation des composants
  package.json
  src/components/ArticleList.js
  src/components/Button.css
  src/components/Button.js
  src/components/DropDown.css
  src/components/Dropdown.js
  src/components/Footer.css
  src/components/Footer.js
  src/components/Header.css
  src/components/Header.js
  src/components/ImgComponent.js
  src/components/PartnerSurvol.css
  src/components/PartnerSurvol.js
  src/components/Partners.css
  src/components/Partners.js
  src/components/PromoCard.js
  src/components/SearchBar.css
  src/components/SearchBar.js
  src/icons/accessibility.png
  src/icons/accessibility.svg
  src/icons/filterbtnDown.svg
  src/icons/filterbtnDownSurvol.svg
  src/icons/filterbtnUp.svg
  src/icons/geolocaldark.svg
  src/icons/geolocalwhite.svg
  src/icons/pluscirclegreen.svg
  src/icons/pluscirclegrey.svg
  src/icons/pluscirclewhite.svg
  src/icons/pluscircleyellow.svg
  src/icons/search.svg
  src/pages/Home.js
  stories/1-Button.stories.js
  stories/8-PartnerCard.stories.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

correction des retours
  package.json
  src/components/ArticleList.js
  src/components/Button.css
  src/components/Button.js
  src/components/DropDown.css
  src/components/Dropdown.js
  src/components/Footer.css
  src/components/Footer.js
  src/components/Header.css
  src/components/Header.js
  src/components/ImgComponent.js
  src/components/PartnerSurvol.css
  src/components/PartnerSurvol.js
  src/components/Partners.css
  src/components/Partners.js
  src/components/PromoCard.js
  src/components/SearchBar.css
  src/components/SearchBar.js
  src/icons/accessibility.png
  src/icons/accessibility.svg
  src/icons/filterbtnDown.svg
  src/icons/filterbtnDownSurvol.svg
  src/icons/filterbtnUp.svg
  src/icons/geolocaldark.svg
  src/icons/geolocalwhite.svg
  src/icons/pluscirclegreen.svg
  src/icons/pluscirclegrey.svg
  src/icons/pluscirclewhite.svg
  src/icons/pluscircleyellow.svg
  src/icons/search.svg
  src/pages/Home.js
  stories/1-Button.stories.js
  stories/8-PartnerCard.stories.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

chore: add node engine in package.json
  package-lock.json
  package.json
Due: prettier --write

finalisation des composant
  src/components/ArticleList.css
  src/components/ArticleList.js
  src/components/Footer.js
  src/components/Header.js
  src/components/Partners.js
  src/components/SearchBar.css
  src/components/TextComponent.css
  src/components/TextComponent.js
  stories/1-Button.stories.js
  stories/10-ArticleList.stories.js
  stories/9-TextComponent.stories.js
Due: prettier --write, eslint --fix, stylelint --fix

chore: Use the correct node scripts for clever deployment
  package.json
Due: prettier --write

home page first commit
  src/components/ImgComponent.css
  src/components/SearchBar.css
  src/images/smallimgback.png
  src/pages/Home.css
  src/pages/Home.js
Due: prettier --write, eslint --fix, stylelint --fix

chore: Allow building and serving storybook directly
  .gitignore
  package.json
  src/server.js
Due: prettier --write, eslint --fix

feat: update font size design tokens to match figmas
  src/App.css
Due: prettier --write, stylelint --fix

home page second commit
  src/components/ArticleList.css
  src/components/ArticleList.js
  src/components/Button.css
  src/components/Button.js
  src/components/DropDown.css
  src/components/Dropdown.js
  src/components/Header.css
  src/components/IconsList.css
  src/components/IconsList.js
  src/components/ImgComponent.js
  src/components/PromoCard.css
  src/components/PromoCard.js
  src/components/PromoCardList.css
  src/components/PromoCardList.js
  src/components/SearchBar.css
  src/components/TextComponent.css
  src/components/TitleContainer.css
  src/components/TitleContainer.js
  src/components/WhiteTitle.css
  src/components/WhiteTitle.js
  src/icons/coeur.svg
  src/icons/zoom.svg
  src/pages/Home.css
  src/pages/Home.js
  stories/1-Button.stories.js
  stories/10-TitleContainer.stories.js
  stories/5-PromoCard.stories.js
  stories/5-PromoCardList.stories.js
Due: prettier --write, eslint --fix, stylelint --fix

fix: update stories for title
  stories/4-WhiteTitle.stories.js
Due: prettier --write, eslint --fix

fix: rename title story
  stories/4-Title.stories.js
Due: prettier --write, eslint --fix

correction css
  src/App.css
  src/components/DropDown.css
  src/components/Header.css
  src/components/ImgComponent.css
  src/components/SearchBar.css
  src/pages/Home.css
  src/pages/Layout.js
  stories/4-TitleContainer.stories.js
  stories/4-WhiteTitle.stories.js
Due: prettier --write, eslint --fix, stylelint --fix

wip: listing pharma component
  package-lock.json
  src/components/ListingPharma/ListingPharma.css
  src/components/ListingPharma/ListingPharma.js
  src/icons/phone.svg
  src/icons/website.svg
  src/images/devanture.png
  stories/11-ListingPharma.stories.js
Due: prettier --write, eslint --fix, stylelint --fix

Home page responsive
  src/App.js
  src/components/Header.css
  src/components/Partners.js
  src/components/PromoCard.css
  src/components/PromoCardList.css
  src/components/SearchBar.css
  src/components/TextComponent.css
  src/images/imageGroupement.png
  src/images/local.png
  src/pages/Groupement.css
  src/pages/Groupement.js
  src/pages/Home.css
  src/pages/Home.js
  stories/8-PartnerCard.stories.js
Due: prettier --write, eslint --fix, stylelint --fix

correction des retours et finalisation des composants
  src/components/ArticleList.css
  src/components/Button.css
  src/components/Header.css
  src/components/PromoCardList.css
  src/components/TextComponent.css
  src/pages/Groupement.css
  src/pages/Home.css
  src/pages/Home.js
Due: prettier --write, eslint --fix, stylelint --fix

responsive design V0
  src/components/ArticleList.css
  src/components/ArticleList.js
  src/components/Footer.css
  src/components/PromoCard.css
  src/components/PromoCardList.css
  src/components/TextComponent.css
  src/components/TitleContainer.css
  src/pages/Home.css
  src/pages/Home.js
  src/pages/Layout.js
Due: prettier --write, eslint --fix, stylelint --fix

responsive design V1
  src/components/Dropdown.js
  src/icons/menu1.svg
Due: prettier --write, eslint --fix

chore: Deploy on DEV from feature branch
  .gitlab-ci.yml
Due: none

feat: pharmacy listing creation
  src/App.css
  src/Home.css
  src/components/ListingPharma/ListingPharma.css
  src/components/ListingPharma/ListingPharma.js
  stories/11-ListingPharma.stories.js
Due: prettier --write, eslint --fix, stylelint --fix

chore: fix linter
  src/components/ArticleList.js
  src/components/Dropdown.js
  src/components/DropdownMenue.js
  src/components/IconsList.js
  src/components/PromoCard.js
  src/components/TextComponent.js
Due: prettier --write, eslint --fix

chore: Fix router
  src/App.js
Due: prettier --write, eslint --fix

chore: Typo in Normandie Pharma
  README.md
  src/pages/Groupement.js
  src/pages/Home.js
  src/pages/Pharmacies.js
  src/server.js
Due: prettier --write, eslint --fix

fix: Typo Aricle
  src/components/ArticleList.css
  src/components/ArticleList.js
Due: prettier --write, eslint --fix, stylelint --fix

page groupement responsive
  src/App.css
  src/components/IconsList.js
  src/components/ValuesCardList.css
  src/components/ValuesCardList.js
  src/components/VirtuesCardList.css
  src/components/VirtuesCardList.js
  src/icons/CommercialNoir.svg
  src/icons/SmilenNoir.svg
  src/icons/accompagnementNoir.svg
  src/icons/commerce.svg
  src/icons/groupementNoir.svg
  src/icons/groupements.svg
  src/icons/msg.svg
  src/icons/msgNoir.svg
  src/icons/negaciation.svg
  src/icons/negociationNoir.svg
  src/images/imageValeur.png
  src/pages/Groupement.css
  src/pages/Groupement.js
  stories/11-TitleContainer.stories.js
  stories/12-VirtuesCardList.stories.js
  stories/13-ValuesCardList.stories.js
Due: prettier --write, eslint --fix, stylelint --fix

page groupement responsive V0
  .gitlab-ci.yml
  README.md
  package-lock.json
  src/App.css
  src/App.js
  src/Home.css
  src/components/ArticleList.css
  src/components/ArticleList.js
  src/components/Dropdown.js
  src/components/DropdownMenue.js
  src/components/ListingPharma/ListingPharma.css
  src/components/ListingPharma/ListingPharma.js
  src/components/PromoCard.js
  src/components/PromoCardList.js
  src/components/TextComponent.js
  src/icons/phone.svg
  src/icons/website.svg
  src/images/devanture.png
  src/pages/Groupement.js
  src/pages/Home.js
  src/pages/Pharmacies.js
  src/server.js
  stories/11-ListingPharma.stories.js
Due: prettier --write, eslint --fix, stylelint --fix

finalisation page groupement
  src/components/ImgComponent.css
  src/components/ImgComponent.js
  src/components/ValuesCardList.css
  src/images/groupementIntroImg.png
  src/images/imageGroupement.png
  src/pages/Groupement.css
  src/pages/Groupement.js
  stories/3-ImgComponent.stories.js
Due: prettier --write, eslint --fix, stylelint --fix

retours Home page et react carousel
  package-lock.json
  package.json
  src/components/DropDown.css
  src/components/Dropdown.js
  src/components/Header.css
  src/components/IntroCarousel.css
  src/components/IntroCarousel.js
  src/icons/menuV0.svg
  src/pages/Home.js
  stories/14-IntroCarousel.stories.js
Due: prettier --write, eslint --fix, stylelint --fix

retours Home page V4
  src/components/ArticleList.css
  src/components/Button.css
  src/components/Button.js
  src/components/Header.css
  src/components/ImgComponent.css
  src/components/ImgComponent.js
  src/components/IntroCarousel.css
  src/components/IntroCarousel.js
  src/components/SearchBar.css
  src/components/TextComponent.css
  src/components/TitleContainer.css
  src/components/TitleContainer.js
  src/pages/Groupement.css
  src/pages/Home.css
  src/pages/Home.js
Due: prettier --write, eslint --fix, stylelint --fix

Page Partenaires
  src/App.js
  src/components/PartnerSurvol.css
  src/components/PartnerSurvol.js
  src/components/Partners.css
  src/components/Partners.js
  src/images/PartenairesImgIntro.png
  src/pages/Home.js
  src/pages/Partenaires.css
  src/pages/Partenaires.js
Due: prettier --write, eslint --fix, stylelint --fix

Page Blog V0
  src/App.js
  src/components/ArticleCard.css
  src/components/ArticleCard.js
  src/components/ArticleList.css
  src/components/Button.css
  src/components/Button.js
  src/components/ImgComponent.js
  src/components/NewArticle.css
  src/components/NewArticle.js
  src/images/newArticleImg.png
  src/pages/Blog.css
  src/pages/Blog.js
  src/pages/Groupement.css
  src/pages/Partenaires.js
  stories/15-NewArticle.stories.js
  stories/16-ArticleCard.stories.js
Due: prettier --write, eslint --fix, stylelint --fix

Page Blog finalisation
  src/components/Button.css
  src/components/FilterButton.css
  src/components/FilterButton.js
  src/pages/Blog.js
  stories/17-FilterButton.stories.js
Due: prettier --write, eslint --fix, stylelint --fix

Page rejoindre finalisation
  src/App.js
  src/components/Dropdown.js
  src/components/Header.css
  src/components/ImgComponent.js
  src/components/IntroCarousel.js
  src/components/RejoindreForm.css
  src/components/RejoindreForm.js
  src/components/TitleContainer.css
  src/components/TitleContainer.js
  src/images/RejoindreIntroImg.png
  src/pages/Blog.js
  src/pages/Home.css
  src/pages/Home.js
  src/pages/Rejoindre.css
  src/pages/Rejoindre.js
  stories/18-RejoindreForm.stories.js
Due: prettier --write, eslint --fix, stylelint --fix

finalisation page CGU
  src/App.js
  src/components/ImgComponent.js
  src/components/TextComponent.css
  src/components/ValuesCardList.css
  src/images/CGUImg.png
  src/pages/CGU.css
  src/pages/CGU.js
  src/pages/Groupement.css
  src/pages/Groupement.js
Due: prettier --write, eslint --fix, stylelint --fix

retours pages partenaires && groupement
  src/components/ImgComponent.css
  src/components/ImgComponent.js
Due: prettier --write, eslint --fix, stylelint --fix
